@{
    ViewData["Title"] = "Attributions";
}
<h1>Sincere Thanks To</h1>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-warning">
      <img src="~/img/OSHB.png" />
      The Open Scriptures Hebrew Bible Project
    </h6>
  </div>
  <div class="card-body card-thanks">
    <p class="mb-0">
      My gratitude for considerable research carried out over a long period of
      time by the Open Scriptures Hebrew Bible Project which can be found at
      <a href="https://hb.openscriptures.org/index.html" target="_blank">the OSHB website</a>
      and <a href="https://github.com/openscriptures" target="_blank">on Github</a>.
      Data collected by this team of open source collaborators powers chapter
      and verse references, words, translations, and pronuciations used in
      this app.  Please check them out.
    </p>
    <blockquote class="blockquote">
      <p class="mb-0">
        "The vision of the Open Scriptures Hebrew Bible project is not only to
        provide resources, but to develop a unified system integrating four
        facets of biblical study.
        ..."
      </p>
      <footer class="blockquote-footer">From the OSHB website</footer>
    </blockquote>
  </div>
</div>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-warning">
      <img src="~/img/sb-logo.svg" />
      SB Admin 2
    </h6>
  </div>
  <div class="card-body card-thanks">
    <p class="mb-0">
      Be sure to checkout <a href="https://startbootstrap.com/" target="_blank">Start Bootstrap</a>
      by <a href="https://github.com/BlackrockDigital" target="_blank">Blackrock Digital</a>.  They
      offer a number of open source and professional templates for web projects.
      This app is based on the <a href="https://startbootstrap.com/themes/sb-admin-2/" target="_blank">SB Admin 2 template</a>.
      My thanks to <em>all</em> of the many contributors which made that project
      (and this one) possible.
    </p>
    <blockquote class="blockquote">
      <p class="mb-0">
        <h3>"SB Admin 2</h3>
        A free Bootstrap 4 admin theme built with HTML/CSS and a modern development workflow environment ready to use to build your next dashboard or web application"
      </p>
      <footer class="blockquote-footer">From the SB Admin 2 website</footer>
    </blockquote>
  </div>
</div>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-warning">
      <img src="~/img/dotnetcore.png" />
      ASP.NET Core
    </h6>
  </div>
  <div class="card-body card-thanks">
    <p class="mb-0">
      When Microsoft announced .NET Core years ago, it felt like a step in the
      right direction.  A direction they were, in fact, already headed in.
      Many thanks to the ASP.NET team and the hundreds of open source
      contributors from around the world who are making the .NET ecosystem a
      pleasure for downstream developers.  Be sure to check out the
      <a href="https://asp.net/" target="_blank">ASP.NET Core website</a>.
      For what its worth, <a href="https://azure.microsoft.com/" target="_blank">Azure</a>,
      is Microsoft's cloud service for hosting ASP.NET Core apps.
    </p>
    <blockquote class="blockquote">
      <p class="mb-0">
        "ASP.NET Core is a cross-platform .NET framework for building modern cloud-based web applications on Windows, Mac, or Linux."
      </p>
      <footer class="blockquote-footer">From the ASP.NET Core website</footer>
    </blockquote>
  </div>
</div>
