@using Scrolltek.Web.Models
@model Chapter
@{
    ViewData["Title"] = "Home Page";
}

<div class="align-self-center">
  <ul style="font-size: 1.75rem; padding-right: 50px; list-style-type: none" class="text-right">
    @foreach (var verse in Model.Verses)
    {
      <li style="direction: rtl; margin-bottom: 20px" class="container">
        <div class="row">
          <div class="col-1">@verse.HebrewOrdinal</div>
          <div class="col-11 font-weight-bold">@verse.Text</div>
        </div>
      </li>
    }
  </ul>
</div>
