.sidebar {
  width: 19.5rem !important;
}
.sidebar .sidebar-heading {
  text-align: left;
  padding: 0 1rem;
  font-weight: 800;
  font-size: .65rem;
}
#tenakh {
  margin-top: 15px;
}

.card-header img {
  height: 32px;
  height: 32px;
}

.card-thanks .blockquote {
  margin-top: 30px;
}
