.topbar {
  height: 3.375rem !important;
}

  .topbar .navbar-search input {
    font-size: 1.35rem;
    font-weight: bold;
    padding: 3px;
    margin: 0;
    height: 2.3rem;
  }

.sidebar .sidebar-brand {
  height: 3.375rem !important;
}

#sidebarToggleTop {
  cursor: pointer;
}

.navbar .btn-link, .navbar .nav-link {
  color: #858796;
}

.main-setting {
  border-width: 3px !important;
  margin: 7px;
  padding-bottom: 12px;
}

  .main-setting .sidebar-heading {
    padding: 0;
    position: absolute;
    left: 5px;
    color: #aaa !important;
  }

  .main-setting a {
    color: #aaa !important;
  }

  .main-setting .active {
    color: #fefefe !important;
  }

.text-icon {
  font-family: serif;
  font-size: 72px !important;
  font-style: normal !important;
  margin-top: -35px;
  margin-left: -20px;
}

.lexical .text-icon, .commentary .text-icon {
  height: 100px;
}

.lexical i, .commentary i {
  font-size: 2.85rem !important;
}

  .lexical i.active, .commentary i.active {
    color: #efefef !important;
  }

.english .text-icon {
  margin-top: -25px;
  height: 95px;
}

.on-off {
  position: absolute;
  bottom: 3px;
  left: 5px;
}

#content .navbar {
  padding: 0;
}

.card-header img {
  height: 32px;
  height: 32px;
}

.card-thanks .blockquote {
  margin-top: 30px;
}
